<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
</head>

<%- include('../includes/routes.ejs') %>

<main>
<h1>Nothing to show here...</h1>
</main>

<%- include('../includes/foot.ejs') %>